# Question 1

In [1]:
import pandas as pd
ins = [59020, 
       567, 
       4071, 
       8888,
       0b10000000001,
       0b10101100011111,
       0b1000100100100, 
       0b110011011010, 
       0x6BD3, 
       0xC03F,
       0x5AE,
       0x8888]
out = []
for i in ins:
    out.append([i, bin(i), hex(i)])
pd.DataFrame(out, columns = ['Decimal','Binary','Hex'])

    Decimal              Binary     Hex
0     59020  0b1110011010001100  0xe68c
1       567        0b1000110111   0x237
2      4071      0b111111100111   0xfe7
3      8888    0b10001010111000  0x22b8
4      1025       0b10000000001   0x401
5     11039    0b10101100011111  0x2b1f
6      4388     0b1000100100100  0x1124
7      3290      0b110011011010   0xcda
8     27603   0b110101111010011  0x6bd3
9     49215  0b1100000000111111  0xc03f
10     1454       0b10110101110   0x5ae
11    34952  0b1000100010001000  0x8888

# Question 2

## Part A

In [2]:
0x4861

18529

In [3]:
chr(0x48) + chr(0x61)

'Ha'

## Part B

In [4]:
0x362B

13867

In [5]:
chr(0x36) + chr(0x2B)

'6+'

# Question 3

In [6]:
def toAsc(x):
    out = []
    for c in x:
        out.append(str(ord(c)))
    return ' '.join(out)

## Part A

In [7]:
toAsc('Rajiv Bagai rocks!!')

'82 97 106 105 118 32 66 97 103 97 105 32 114 111 99 107 115 33 33'

## Part B

In [8]:
toAsc('21 + 47 â€“ 26 = ??')

'50 49 32 43 32 52 55 32 8211 32 50 54 32 61 32 63 63'